extends layout

block content
  h1= title
  ul
    each player in playerList
        li 
            a(href=player.url) #{player.fullName}
            |   (#{player.position.position} for the #{player.team.teamName})
    else 
        li There are no players