extends layout

block content
    h1= title
    h3 Location: #{team.location} 
    - let [ownerMatch, playerMatch] = [false, false];
    h3 Owners: 
    ul
        each owner in owners
            if owner.team._id.toString() === team._id.toString()
                - ownerMatch = true;
                li 
                    a(href=owner.url) #{owner.fullName}
    if !ownerMatch
        p None
    h3 Championships: 
    if team.championships.length == 0
        p None
    else 
        ul
        each champ in team.championships 
            li #{champ}
    h3 Roster:
    ul
        each player in players 
            if player.team._id.toString() === team._id.toString()
                - playerMatch = true;
                li
                    a(href=player.url) #{player.fullName}
                    |   (#{player.position.position})
    if !playerMatch
        p None
